<p id="notice"><%= notice %></p>

<p>
  <strong>Company code:</strong>
  <%= @master_company.company_code %>
</p>

<p>
  <strong>Code:</strong>
  <%= @master_company.code %>
</p>

<p>
  <strong>Nit:</strong>
  <%= @master_company.nit %>
</p>

<p>
  <strong>Verification digit:</strong>
  <%= @master_company.verification_digit %>
</p>

<p>
  <strong>Social reason:</strong>
  <%= @master_company.social_reason %>
</p>

<p>
  <strong>Commercial name:</strong>
  <%= @master_company.commercial_name %>
</p>

<p>
  <strong>Web page:</strong>
  <%= @master_company.web_page %>
</p>

<p>
  <strong>Contributor type:</strong>
  <%= @master_company.contributor_type %>
</p>

<p>
  <strong>Rips code:</strong>
  <%= @master_company.rips_code %>
</p>

<p>
  <strong>Address:</strong>
  <%= @master_company.address %>
</p>

<p>
  <strong>Cellphone:</strong>
  <%= @master_company.cellphone %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @master_company.phone %>
</p>

<%= link_to 'Edit', edit_master_company_path(@master_company) %> |
<%= link_to 'Back', master_companies_path %>
