<p id="notice"><%= notice %></p>

<p>
  <strong>Company code:</strong>
  <%= @supply_portfolio_detail.company_code %>
</p>

<p>
  <strong>Supply portfolio code:</strong>
  <%= @supply_portfolio_detail.supply_portfolio_code %>
</p>

<p>
  <strong>Supply code:</strong>
  <%= @supply_portfolio_detail.supply_code %>
</p>

<p>
  <strong>Supply value:</strong>
  <%= @supply_portfolio_detail.supply_value %>
</p>

<%= link_to 'Edit', edit_supply_portfolio_detail_path(@supply_portfolio_detail) %> |
<%= link_to 'Back', supply_portfolio_details_path %>
