<p id="notice"><%= notice %></p>

<h1>Branch Offices</h1>

<table>
  <thead>
    <tr>
      <th>Company code</th>
      <th>Branch office code</th>
      <th>Branch office name</th>
      <th>Address</th>
      <th>Cellphone</th>
      <th>Phone</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @branch_offices.each do |branch_office| %>
      <tr>
        <td><%= branch_office.company_code %></td>
        <td><%= branch_office.branch_office_code %></td>
        <td><%= branch_office.branch_office_name %></td>
        <td><%= branch_office.address %></td>
        <td><%= branch_office.cellphone %></td>
        <td><%= branch_office.phone %></td>
        <td><%= link_to 'Show', branch_office %></td>
        <td><%= link_to 'Edit', edit_branch_office_path(branch_office) %></td>
        <td><%= link_to 'Destroy', branch_office, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Branch Office', new_branch_office_path %>
